server:
  port: 8080
  shutdown: graceful
  http2:
    enabled: true
  compression:
    enabled: true

spring:
  data:
    mongodb:
      uri: ${MONGODB_URI:mongodb://root:example@localhost:27017/demo?authSource=admin}

  docker:
    compose:
      enabled: false
  mvc:
    log-request-details: true
  codec:
    log-request-details: true

management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
          - prometheus


